.serviceSection {
    position: relative;
    min-height: auto;
    max-width: 1200px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.serviceText {
    display: flex;
    gap: 1.3rem;
    align-items: flex-start;
}

.serviceText h3 {
    color: #191A23;
    background-color: #B9FF66;
    border-radius: 7px;
    padding: 0px 7px;
    font-family: 'Space Grotesk';
    font-size: 21px;
    font-weight: 300;
    display: inline-block;
    width: fit-content;
}

.serviceContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 50px;
    max-width: 1200px;
}

.serviceCard1 {
    background-color: #F3F3F3;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    border-radius: 45px;
    padding: 50px;
    flex: 1;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.serviceCard1Content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.servviceCard1Left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.serviceCard1Text {
    color: #191A23;
    background-color: #B9FF66;
    padding: 5px 10px;
    font-family: 'Space Grotesk';
    font-size: 21px;
    font-weight: 500;
    display: inline-block;
    width: fit-content;
    margin: 0;
}

.serviceCard1TextButton {
    margin-top: 4rem;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.serviceCard1TextButton p {
    color: #191A23;
    font-family: 'Space Grotesk';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.serviceCard1Image {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.serviceCard2 {
    background-color: #B9FF66;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    border-radius: 45px;
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
}

.serviceCard2Content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.servviceCard2Left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.serviceCard2Text {
    color: #191A23;
    background-color: #F3F3F3;
    padding: 5px 10px;
    font-family: 'Space Grotesk';
    font-size: 21px;
    font-weight: 500;
    display: inline-block;
    width: fit-content;
    margin: 0;
}

.serviceCard2TextButton {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.serviceCard2TextButton p {
    color: #191A23;
    font-family: 'Space Grotesk';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.serviceCard2Image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Tablet screens */
@media (max-width: 1024px) {
    .serviceContainer {
        gap: 30px;
        padding: 40px 0;
    }

    .serviceCard1,
    .serviceCard2 {
        padding: 40px;
    }

    .serviceCard1Image img,
    .serviceCard2Image img {
        width: 120px !important;
        height: 120px !important;
    }
}

/* Mobile screens */
@media (max-width: 768px) {
    .serviceSection {
        width: 95%;
    }

    .serviceText {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .serviceText p br {
        display: none;
    }

    .serviceText p {
        font-size: 16px;
        line-height: 24px;
    }

    .serviceContainer {
        flex-direction: column;
        gap: 30px;
        padding: 30px 0;
    }

    .serviceCard1,
    .serviceCard2 {
        padding: 30px;
        border-radius: 35px;
    }

    .serviceCard1Content,
    .serviceCard2Content {
        flex-direction: column;
        gap: 2rem;
    }

    .servviceCard1Left,
    .servviceCard2Left {
        width: 100%;
    }

    .serviceCard1TextButton,
    .serviceCard2TextButton {
        margin-top: 2rem;
    }

    .serviceCard1Image,
    .serviceCard2Image {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .serviceCard1Image img,
    .serviceCard2Image img {
        width: 150px !important;
        height: 150px !important;
    }
}

/* Small mobile screens */
@media (max-width: 480px) {
    .serviceText h3 {
        font-size: 18px;
    }

    .serviceText p {
        font-size: 15px;
        line-height: 22px;
    }

    .serviceCard1,
    .serviceCard2 {
        padding: 25px;
        border-radius: 30px;
    }

    .serviceCard1Text,
    .serviceCard2Text {
        font-size: 18px;
    }

    .serviceCard1TextButton p,
    .serviceCard2TextButton p {
        font-size: 14px;
    }

    .serviceCard1Image img,
    .serviceCard2Image img {
        width: 120px !important;
        height: 120px !important;
    }
}

/* Extra small screens */
@media (max-width: 360px) {
    .serviceSection {
        width: 95%;
    }

    .serviceText h3 {
        font-size: 16px;
    }

    .serviceText p {
        font-size: 14px;
        line-height: 20px;
    }

    .serviceCard1,
    .serviceCard2 {
        padding: 20px;
        border-radius: 25px;
    }

    .serviceCard1Text,
    .serviceCard2Text {
        font-size: 16px;
    }

    .serviceCard1TextButton,
    .serviceCard2TextButton {
        margin-top: 1.5rem;
    }

    .serviceCard1TextButton p,
    .serviceCard2TextButton p {
        font-size: 13px;
    }

    .serviceCard1Image img,
    .serviceCard2Image img {
        width: 100px !important;
        height: 100px !important;
    }
}