.registerImage {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.registerContainer {
    box-sizing: border-box;

    position: absolute;
    width: 690px;
    height: 690px;
    left: calc(50% - 690px/2);
    top: calc(50% - 690px/2);

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12.5px);
    border-radius: 40px;
    padding: 40px;
    overflow: hidden;
}

.registerHeader {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}


.logoText {
    font-family: 'Space Grotesk';
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 200;
    color: #ffff;
}

.registerTitle {
    text-align: center;
    color: #ffff;
    font-size: 40px;
    line-height: 56px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.registerSubTitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-family: 'Work Sans';
    color: #ffff;
}

.registerInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.registerInput label {
    color: white;
    font-size: 13px;
    font-weight: 500;
}

.registerInput input {
    background: white;
    border: none;
    border-radius: 12px;
    padding: 16px 20px;
    font-size: 13px;
    color: #666;
    outline: none;
}

.registerInput input::placeholder {
    color: #ccc;
}

.registerButton {
    width: 100%;
    background: #bd0c47;
    color: #ffff;
    border: none;
    border-radius: 12px;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.registerButton:hover {
    background: #bd0c47;
    color: #ffff;
}

.divider {
    width: 100%;
    position: relative;
}

hr {
    border: 1px solid var#ffff;
    position: relative;
    width: 100%;
}

.dividerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffff;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}


.socialButton {
    color: #000;
    border: none;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    width: 100%;
}