.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .body {
    flex-grow: 1;
  }

  .footer {
    margin-top: auto;
  }
