.benefitSection {
    background-color: #F3F7FB;
    /* padding: 4rem 4rem; */
    /* position: relative; */
}

.benefitContainer {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 2rem 4rem 2rem 4rem;
    position: relative;
}

.benefitHeader {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 14px;
    font-style: 'light';
    letter-spacing: 0.1em;
    color: #131735;
    text-transform: uppercase;
    margin-top: 2px;
}

.benefitMain {
    top: -4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.benefitMain h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    color: #1a1f3a;
    margin-bottom: 3rem;
}

.benefitMain h1 span {
    color: #646FC6;
}

.benefitItems {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.benefitList {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.benefitList Image {
    width: 48px;
    height: 48px;
    padding: 12px;
    background: #F3F4F6;
    border-radius: 12px;
}

.benefitList p {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 44.91px;
    color: #130D3A;
    margin: 0;
}

.benefitList span {
    font-family: 'Raleway' ;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 30.7px;
    color: #130D3ACC;
}

.groupImage {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media (max-width: 992px) {
    .benefitSection {
        padding: 4rem 2rem;
    }

    .benefitMain {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .benefitMain h1 {
        font-size: 36px;
    }
}

@media (max-width: 576px) {
    .benefitSection {
        padding: 3rem 1rem;
    }

    .benefitMain h1 {
        font-size: 28px;
    }
}