.heroSection {
    background-color: #1a1f3a;
    color: #FFFFFF;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 0 50px;
    margin-left: 120px;
}

.heroSection::before {
    content: '';
    position: absolute;
    top: -550px;
    left: 27px;
    width: 768px;
    height: 1764px;

    background: #262b4a;
    opacity: 0.05;

    transform: rotate(30deg);
    transform-origin: center;

    z-index: 0;
}

.heroContainer {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    padding: 2rem 2rem;
}

.heroHeader {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 3rem 0;
}

.heroHeaderLeft {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    cursor: pointer;
}

.heroHeaderLeft h1 {
    font-family: 'Urbanist';
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -2%;
}

.heroHeaderMain {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.heroHeaderMain p {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: 'SemiBold';
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}

.heroHeaderMain p:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262942;
    border: 1px solid #262942;
    border-radius: 45px;
    min-width: 80px; 
    padding: 0.5rem 1rem;
}

.heroHeaderRight {
    justify-content: flex-end;
    display: flex;
    gap: 1rem;
}

.heroHeaderRight p {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: 'SemiBold';
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}

.heroHeaderRight p:hover {
    text-align: center;
    background-color: #646FC6;
    border: 1px solid #646FC6;
    border-radius: 45px;
    min-width: 80px; 
    padding: 0.5rem 1rem;
}

.heroWrap {}

.hwLeft {}

.wrapButton {}

.hwRight {}

.heroFooter {}

.hfFirst {}

.hfSecond {}

.hfThird {}

/* Responsive Design */
@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}