.authContainer {
    width: 100%;
    height: 100vh;
    min-height: 100dvh;
}

.authSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 32px;
    padding: 0 32px;
}

.contentDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    background-color: #ffffff;
    overflow-y: auto;
}

.authRight {
    flex: 1;
    position: relative;
    height: 100%;
    padding: 32px 0;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
}

.loginImage {
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .authContainer {
        background-color: #ffffff;
        padding: 0px 16px 8px 16px;

    }
    
    .authSection {
        padding: 0;
        flex-direction: column;
        gap: 0;
        align-items: stretch;
    }
    
    .contentDiv {
        flex: none;
        padding: 24px;
        width: 100%;
        order: 2;
    }
    
    .authRight {
        flex: none;
        height: auto;
        width: 100%;
        order: 1;
        margin-bottom: 4px; /* Reduced from 8px */
        padding-top: 0;
        margin-top: -32px;
    }
    
    .imageContainer {
        min-height: 180px;
        height: 180px;
        border-radius: 16px;
    }
}