.registerImage {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.registerContainer {
    box-sizing: border-box;

    position: absolute;
    width: 690px;
    height: 690px;
    left: calc(50% - 690px/2);
    top: calc(50% - 690px/2);

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12.5px);
    border-radius: 40px;
    padding: 40px; 
    overflow: hidden; 
}

.registerHeader{
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}


.logoText{
    font-family: 'Space Grotesk';
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 200;
    color: #ffff;
}

.registerTitle{
text-align: center;
    color: #ffff;
    font-size: 40px;
    line-height: 56px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.registerSubTitle{

}