.footerSection {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    transition: all 0.3s ease;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 55px 60px 50px;
    gap: 50px;
    max-width: 1200px;
    height: 220px;

    background: #191A23;
    border-radius: 45px 45px 0px 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footerUpSection{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerHeader {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}

.footerText {
    color: #ffff;
}

.footerSocial{
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.footerLine {
    width: 850px;
    height: 0px;
    align-items: center;
    justify-content: center;

    border: 1px solid #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.footerDownSection{
    color: #ffff;
    font-size: 11px;
    font-family: 'Space Grotesk';
    font-weight: 300;
}